In [4]:

#importamos las librerias necesarias
import numpy as np # linear algebra
import pandas as pd # data processing

In [5]:
# leyendo el set de datos
Trip_data_2021 = pd.read_csv("/kaggle/input/trip-data-2021-sin-limpiar/Trip_data_2021_sin_limpiar.csv")

In [4]:
import os
for dirname, _, filenames in os.walk("/kaggle/input/trip-data-2021-sin-limpiar/Trip_data_2021_sin_limpiar.csv"):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [8]:
# sirve para mirar las primeras filas
Trip_data_2021.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,2,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,3,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,5,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

In [9]:
# sirve para mirar las ultimas filas 
Trip_data_2021.tail()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5595058,5595059,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.88229,-87.63975,41.89000,-87.61000,casual
5595059,5595060,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.88212,-87.64005,41.88911,-87.63886,member
5595060,5595061,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.88196,-87.63995,41.88025,-87.62960,member
5595061,5595062,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.86000,-87.72000,41.85000,-87.71000,member
5595062,5595063,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.87785,-87.62408,41.88132,-87.62952,member

# Limpieza

con el comando dropna quitamos todos los na de todas las filas

In [10]:
Trip_data_2021 = Trip_data_2021.dropna()

vemos la información General antes de seguir

In [11]:
Trip_data_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4588302 entries, 9 to 5595062
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   ride_id             object
 2   rideable_type       object
 3   started_at          object
 4   ended_at            object
 5   start_station_name  object
 6   start_station_id    object
 7   end_station_name    object
 8   end_station_id      object
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  member_casual       object
dtypes: float64(4), int64(1), object(9)
memory usage: 525.1+ MB

Sirve para contar la minima , media y maxima de las columnas como otros datos interesantes

In [13]:
Trip_data_2021.describe()

         Unnamed: 0     start_lat     start_lng       end_lat       end_lng
count  4.588302e+06  4.588302e+06  4.588302e+06  4.588302e+06  4.588302e+06
mean   2.693506e+06  4.190304e+01 -8.764350e+01  4.190333e+01 -8.764374e+01
std    1.589028e+06  4.034510e-02  2.331682e-02  4.049086e-02  2.352746e-02
min    1.000000e+01  4.164850e+01 -8.783000e+01  4.164850e+01 -8.783000e+01
25%    1.321834e+06  4.188224e+01 -8.765549e+01  4.188248e+01 -8.765598e+01
50%    2.671456e+06  4.189766e+01 -8.764055e+01  4.189820e+01 -8.764098e+01
75%    4.015939e+06  4.192628e+01 -8.762769e+01  4.192676e+01 -8.762769e+01
max    5.595063e+06  4.206485e+01 -8.752823e+01  4.216812e+01 -8.752452e+01

In [14]:
Trip_data_2021.view()

AttributeError: 'DataFrame' object has no attribute 'view'